div.interface {
  div.pomsselector {
    background: gray;
    width: 100%;
    button.select_button {
      float: right;
      background-color: white;
      margin-left: 1em;
      padding: 0.25em;
      border: black 1px solid;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}